@tailwind base;
@import './styles.css';

a {
  @apply text-black;
}


@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

p em{
  display: flex;
  flex-direction: column;
  text-align: center;
}
p img{
  margin-bottom: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

.post__item:first-child .image__setmaxheight{
  max-height: 100%;
}

input{
  outline: none;
}
textarea{
  outline: none;
}